<h1>Welcome to the Ruby Local Library!</h1>

<form action="/" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text" required>
  <label for="author">Author</label>
  <input id="author" name="author" type="text" required>
  <button type="submit">Add</button>
</form>

<% if @books.any?() %>
  <h3>Here are our books:</h3>

  <ul>
    <% @books.each() do |book| %>
      <li><a href="/books/<%= book.id() %>">
      <%= book.name() %> by <%= book.author() %></a>
    </li>
    <% end %>
  </ul>

<% else %>
    <p>There are no books yet!</p>
<% end %>

<h1>Search for a book:</h1>
<form action="/search" method="get">
  <label for="search_name">Name</label>
  <input id="search_name" name="search_name" type="text">
  <label for="search_author">Author</label>
  <input id="search_author" name="search_author" type="text">
  <button type="submit">Search</button>
</form>


<h1>Add user to the library database</h1>

<form action="/patrons" method="post">
  <label for="user_name">Your User Name</label>
  <input id="user_name" name="user_name" type="text" required>
  <button type="submit">Add</button>
</form>

<% if @patrons.any?() %>
<h3>Here are All the Users</h3>

<ul>
  <% @patrons.each() do |patron| %>
    <li><a href="/patrons/<%= patron.id() %>">
    <%= patron.name() %></a>
  </li>
  <% end %>
</ul>
<% end %>
